.zone1 {
background-color: #7fffd4;
}

.zone2 {
background-color: #87cefa;
}

.zone3 {
background-color: #f0ffff;
}

.container-button {
    position: relative;
    width: 50px;
}

.container-button .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }